html {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #54749A;
    color: white;
}

#title {
    position: absolute;
    left: 70%;
    top: -1%;
    color: #AF2B2B;
    font-size: large;
}

#keys {
    display: flex;
    justify-content: center;
    margin: 1px;
    margin-top: 80px;
    margin-left: 160px;
    border: 10px;
    width: max-content;   
}

.white-key {
    width: 70px;
    height: 200px;
    background-color: #f5f5f5;
    border-width: 2px;
    border-radius: 8px;
    border-color: #2A4864;

}

.white-key:hover {
    position: relative;
    cursor: pointer;
}

.white-key:active {
    border-width: 10px;
    border-color: gray;
}

input[type*=range]:hover {
    cursor: pointer;
}

#waveform-dropdown {
    cursor: pointer;
    margin-left: 30px;
    transform: translateY(-25px);
    width: 180px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
    background-color: whitesmoke;
    color: #2A4864;
}

.preset-item {
    list-style-type: none;
    cursor: pointer;
}

#save-button {
    cursor: pointer;
    background-color: #54749A;
    color: whitesmoke;
    border-radius: 10px;
}

#preset-container {
   color: #2A4864;
   text-align: center;
   font-size: 20px;
   border: 1px solid black;
   border-radius: 15px;
   background-color: whitesmoke;
   width: 340px;
   float: left;
   padding: 7px;
   margin: 10px 10px auto 10px;
}

#new-preset-input {
    width: 270px;
    background-color: whitesmoke;
    border-radius: 3px;
}

ul {
    margin: 0%;
    padding-left: 0%;
}

li {
    padding: 3px;
    margin: 3px;    
    margin-left: 0px;
    border-radius: 3px;
}

ul li {
    
    border: 2px solid #2A4864;
    width: 334px;
    text-align: center;
    
}

#oscilloscope {
    position: relative;
    margin: 10px;
    margin-top: 6%;
    margin-left: 45px;
    
    border-radius: 90px;
    width: 800px;
    height: 200px;
    
}   

.vert-slide {
    writing-mode: vertical-lr;
    direction: rtl;
    -webkit-appearance: none;
    width: 80px;
    background: transparent;
    height: 140px;
}

.vert-slide::-webkit-slider-runnable-track {
    height: 140px;
    width: 80px;
    background-image: url("./img/slideLine4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.vert-slide::-moz-range-track {
    height: 140px;
    width: 80px;
    background-image: url("./img/slideLine4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vert-slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #AF2B2B;
    margin-left: 25.5px;
    box-shadow: 2px 4px 18px black;
}

.vert-slide::-moz-range-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #AF2B2B;
    margin-left: 25.5px;
    box-shadow: 2px 4px 18px black;
}


#settings { 
    display: flex;
    align-items: center;
    position: relative;
    left: -2.5%;
    margin: 20px 1px 10px 10px;
    column-gap: 15px;
    
    
}

#settings label {
    position: relative;
    top: 95px;
    left: 85px;
    font-size: 18px;
}

#settings label.waveform {
    position: absolute;
    top: 0%;
    margin-left: 850px;
}

#synth-container {
    margin: none;
    float: right;
}
/*
.black-key {
    background-color: black;
    color: white;
    height: 150px;
    width: 30px;
    z-index: 2;
    margin: 0 -15px;
    border-radius: 5px;
}
    */