#keys {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70vh;
    border: 10px;
    left: 39%;
    width: max-content;
}

.white-key {
    width: 70px;
    height: 200px;
    background-color: white;
    border-width: 2px;
    z-index: 1;
    border-radius: 8px;
}

.white-key:hover {
    position: relative;
    cursor: pointer;
}

.white-key:active {
    border-width: 10px;
    border-color: gray;
}

input[type*=range]:hover {
    cursor: pointer;
}

#waveform-dropdown {
    cursor: pointer;
}

.preset-item {
    list-style-type: none;
    cursor: pointer;
}

#save-button {
    cursor: pointer;
}

#preset-container {
   border: 1px solid black;
   width: 340px;
   position: absolute;
   left: 2%;
   top: 3%;
}

#new-preset-input {
    width: 270px;
}

ul {
    margin: 0%;
    padding-left: 0%;
}

li {
    padding: 3px;
    margin: 3px;    
    margin-left: 0px;
}

ul li {
    
    border-top: 1px solid black;
    width: 334px;
    text-align: center;
    
}

#oscilloscope {
    position: absolute;
    left: 30%;
    top:3%;
    border-radius: 90px;
    width: 800px;
    height: 200px;
    
}   

.vert-slide {
    writing-mode: vertical-lr;
}


#settings { 
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 29%;
    column-gap: 50px;
}

#settings label {
    position: relative;
    top: 80px;
    left: 80px;
}

#settings label.waveform {
    position: relative;
    top: 150px;
    left: 120px;
}


/*
.black-key {
    background-color: black;
    color: white;
    height: 150px;
    width: 30px;
    z-index: 2;
    margin: 0 -15px;
    border-radius: 5px;
}
    */